altgraph==0.17
asgiref==3.6.0
astroid==2.3.3
async-generator==1.10
attrs==21.4.0
backports.zoneinfo==0.2.1
bandit==1.6.2
certifi==2021.10.8
cffi==1.15.0
colorama==0.4.3
cryptography==36.0.1
Django==4.2
django-cors-headers==3.14.0
djangorestframework==3.14.0
future==0.18.2
gitdb==4.0.2
GitPython==3.1.0
h11==0.13.0
idna==3.3
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.18.3
outcome==1.1.0
pbr==5.4.4
pefile==2019.4.18
Pillow==7.0.0
pycparser==2.21
pygame==2.1.2
PyInstaller==3.6
pylint==2.4.4
pyOpenSSL==22.0.0
pytz==2023.3
pywin32-ctypes==0.2.0
PyYAML==5.3
selenium==4.1.0
six==1.14.0
smmap==3.0.1
sniffio==1.2.0
sortedcontainers==2.4.0
sqlparse==0.4.4
stevedore==1.32.0
trio==0.19.0
trio-websocket==0.9.2
tzdata==2023.3
urllib3==1.26.8
wrapt==1.11.2
wsproto==1.0.0
